.card{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color:rgba(24,24,24,1);
  height: 16rem;
  border-radius: 0.25rem;
  &:hover{
    cursor: pointer;
    background-color: rgba(36,36,36,1);
  }
  &-header{
    font-size: 1em;
    font-weight: 600;
    color: #fff;
  }
  &-img{
    display: flex;
    justify-content: center;
    img{
      border-radius: 0.25rem;
      width: 10rem;
    }
  }
  .texts{
    justify-content: center;
    width: 10rem;
  }
  &-desc{
    color: rgba(140,140,140,0.5);
  }
}
