:host {
  display: block;
  background-color: rgb(24,24,24);
  .wrapper{
    border-top: 3px solid rgb(32,32,32);
    align-items: center;
    height: 10vh;
    display: flex;
    audio {
      width: 100%;
      background-color: transparent;
    }
  }

}
