:host{
  display: flex;
  width: 100vw;
  height: 100vh;
}


.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}
.player{
  height: calc(100vh - 90vh);
}
.content{
  padding: 1rem 1rem;
  height: 80vh;
  overflow-y:auto;
  max-height: 100%;
  background-color: rgb(18,18,18);
  color: white;
}
